---
import Base from "@layouts/Base.astro";
import Page from "@layouts/Page.astro";
---

<Base meta_title="About">
  <Page title="About Me">
    <p>
      Aku adalah seorang penjelajah waktu yang tak lazim, sering ditemukan menjelajahi dimensi-dimensi alternatif sambil menyeruput secangkir teh panas. Dikenal di seluruh alam semesta sebagai sosok yang penuh misteri, aku telah menjelajahi zaman dari masa ke masa, mengetahui rahasia-rahasia yang tersembunyi di balik kerumunan waktu. Namun, di tengah-tengah perjalanan lintas dimensi yang tak terhitung jumlahnya, kegemarannya yang tak terbantahkan adalah menghabiskan waktu di dapur, mencari tahu resep rahasia dari Pisang Goreng Madu Bu Nanik.  
    </p>

    <p>
      Dibalik topengnya sebagai penjelajah waktu, Aku adalah seorang pencinta makanan yang taat. Di antara dimensi-dimensi yang berbeda, aku mencari bumbu dan rasa yang unik, menggali ke dalam warisan kuliner setiap zaman. Namun, tak seorang pun dapat melupakan keasyikan dan ketenangan saat aku bertukar cerita dengan Bu Nanik, ahli dalam seni memasak Pisang Goreng Madu yang legendaris. Itulah titik balik dalam petualangannya yang tak terbatas - sebuah momen yang membawa harmoni di tengah kekacauan dimensi yang bergerak cepat.  
    </p>

    <p>
      Di luar perjalanan dan pencarian rahasia kuliner, Aku adalah seorang pengembang kreatif, membangun dan mengembangkan teknologi baru untuk membantu manusia dan makhluk lainnya mengatasi tantangan di berbagai dimensi. Dengan kecintaannya pada teknologi dan kemampuannya untuk melihat ke masa depan, aku berusaha menciptakan dunia yang lebih baik untuk semua yang tinggal di dalamnya, dimensi demi dimensi. Dengan candaan cerdas dan kebijaksanaannya yang tak terbantahkan, aku terus menjadi sosok yang mengilhami dan menghibur di sepanjang lintasan waktu  
    </p>
  </Page>
</Base>
